NODE_ENV= development
DATABASE_URL =postgresql://usuario:contraseña@servidor_local_o_nube/base_datos
PORT = 4000
FRONTEND_URL=http://localhost:5173                                                                                                      